main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#logo {
    margin-top: 2em;
    width: min(7em, 5vw);
    height: auto;
}

#flugzeug_img {
    margin-top: 2em;
    width: min(70em, 35vw);
    min-width: 20em;
    height: auto;
}

main p {
    text-align: center;
    white-space: wrap;
    width: min(70em, 60vw);
}

main h2 {
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    white-space: break-spaces;
}

.links a {
    font-size: 1rem;
    color: #a5a5a5;
    text-decoration: none;
    transition: color 0.3s ease;
    text-align: center;
}

.links a:hover {
    text-decoration: underline;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1em;
}